* {
    box-sizing: border-box;
   
}
.overlay{
    display: flex;
    background-color: green;
    height: 100vh;
    /*  align items on the cross axis*/
}


.my-flex-container {
    border: 2px solid green;
    margin-bottom: 20px;
    background-color: blue;
    height: 100vh;
}

.my-flex-container-column {
    border: 2px solid green;
    height: 300x;
    margin-bottom: 20px;

}

.my-flex-item {
    background-color: lightgrey;
    border: 1px dotted grey;
    height: 48px;
    max-width:100%;
}
.my-flex-item-2{
    background-color: lightgrey;
    border: 1px dotted grey;
    height: 96px;
}

.flex-container {
    border: 2px solid green;
   
    background-color: lightgrey;
}

.flex-item {
    border: 2px solid red;
    display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-size: contain;
  height: 50px;
  width: 50px;

}

img {
    align-self:center
}
img{
    max-width:100%;
  }
  img { 
    object-fit: contain;
    background-size: contain
  }